#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v {
    z-index: 999;
    opacity: 1 !important;
    cursor: pointer;
    display: block;
    width: 35.36068px;
    height: 70.72136px;
    position: absolute;
}